/javascript/.direnv/
/.log/
/javascript/node_modules/
/javascript/.log/
/Manifest.toml
.ipynb_checkpoints
/javascript/dist/
/deps/build.log
/deps/bundles/
/page/node_modules
**/.bloop

/.quarto/
/target/
/site/_site/
/project/
/.direnv/
/.bsp/
/scala/node_modules/
/scala/dist/
/scala/out/
/.metals/
/assets/askem-hackathon-pres/pres.html
/assets/askem-hackathon-pres/pres_files/
scala/project/build.properties
scala/.vscode/settings.json
