/javascript/.direnv/
/.log/
/javascript/node_modules/
/javascript/.log/
/Manifest.toml
.ipynb_checkpoints
/javascript/dist/
/deps/build.log
/deps/bundles/
/page/node_modules
**/.bloop
/next/semagrams/.vscode/
/next/semagrams/.bsp/
/next/semagrams/.metals/
/next/semagrams/.scalafmt.conf
/next/.direnv/
/next/.envrc
